/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* ---------------------------------------------- */

@font-face {
  font-family: "Norse-Bold";
  src: url(./Fonts/Norse-Bold.otf);
}

:root {
  --accent-amber: #fdac47;
}

/* ---------------------------------------------- */

body {
  font-family: sans-serif;
  display: flex;
  height: 100vh;
}

.hero {
  width: 520px;
  position: relative;
  flex: 0 0 auto;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.hero-logo {
  background-color: rgba(0, 0, 0, 0.5);
  height: 150px;
  width: 100%;

  position: absolute;
  top: 30vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-logo-image {
  height: 100%;
}

.hero-logo-text {
  font-family: "Norse-Bold", monospace;
  font-size: 100px;
  color: #fff;
}

.hero-image-attrib {
  font-family: sans-serif;
  font-size: 0.75rem;
  color: white;

  width: 100%;
  padding: 6px;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

.hero-image-attrib {
  a,
  a:active,
  a:visited {
    color: inherit;
  }
}

.main-content {
  /* background-color: rgba(253, 172, 71, 0.15); */
  background-color: #fff9f2;
  height: 100vh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.form-heading {
  font-size: 1.75rem;
  font-family: sans-serif;
  font-weight: 600;
  color: black;
  line-height: 120%;
  margin: 30px 60px;
}

.form-heading p {
  margin-bottom: 30px;
}

.form-content {
  background-color: #fff;
  padding: 30px 60px;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.form-content p {
  font-size: 1.75rem;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}

.form-main {
  display: flex;
  flex-wrap: wrap;
}

.form-field {
  /* background-color: pink;
  border: 1px solid black; */

  width: 300px;
  margin: 20px 0px;
}

.form-field {
  label {
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #444;
    line-height: 100%;
    padding: 2px 0px;
  }

  input {
    display: block;
    border: 1px solid #e8e8ec;
    border-radius: 4px;
    font-size: 1rem;
    width: 250px;
    padding: 4px;
    color: black;
    font-weight: 500;
  }

  input:focus {
    outline: none;
    border: 2px solid var(--accent-amber);
    box-shadow: 2px 2px 6px #f9c688;
  }

  input:invalid {
    border: 2px solid rgb(198, 16, 16);
  }
}

.form-footer {
  margin: 30px 60px;
}

.submit-button {
  background-color: var(--accent-amber);
  font-size: 1.2rem;
  padding: 12px 64px;

  color: black;
  font-weight: 600;
  border: none;
  border-radius: 8px;

  margin-bottom: 30px;
}

.login-redirect {
  font-size: 1.2rem;

  a,
  a:active,
  a:visited,
  a:focus {
    color: var(--accent-amber);
    text-decoration: none;
    font-weight: 600;
  }
}

.italic {
  font-style: italic;
}
